body,td{
     margin:0px;
	 padding: 0;
	 font-size:12px;
	 font-family:Arial, Helvetica, sans-serif;
}
form{
    margin:0px;
	padding: 0;
}
img{
	border:none;
}
a{
	color:#222222;
	text-decoration:none;
}
a:hover{
	color:#F33;
	text-decoration:none;
}

input,select,button{
	font:12px Verdana,Arial,Tahoma;
	vertical-align:middle;
}
#login{
	margin:0 auto;
	width:960px;
	height:30px;
	padding-right:5px;
	overflow:hidden;
	text-align:right;
	color:#666;
}
#infoField{
	line-height:30px;
}
#loginField{
	line-height:30px;
}
#top{
	margin:0 auto;
	width:960px;
	height:220px;
	overflow:hidden;
	background-image:url('../images/top_2014.png');
	background-repeat: no-repeat;
}
#navMenu{
	margin:0 auto;
	margin-top:2px;
	width:960px;
	overflow:hidden;
	margin-bottom:5px;
	background-image:url('../images/navMenuBg.jpg');
	background-repeat: repeat-x;
}

#navMenu ul  li {
	list-style:none;
	float: left;
	line-height: 33px;
	height: 33px;
	width:120px;
	background-image: url('../images/header_interval.png');
	background-repeat: no-repeat;
	background-position: 0 center;
	margin-left: -2px;
	margin-top:-13px;
}
#navMenu li a{
	font-size: 14px;
	text-decoration:none;
	color:white;
	display: block;/*a标签转块级元素*/
	padding-right: 1em;
	padding-left: 20px;
	margin-left: 2px;
}
#navMenu li a:hover, #navMenu li.hover a {
	background-image: url('../images/header_hover.png');
	background-repeat: no-repeat;
	background-position: center top;
	text-decoration: none;
}

#middle{
	margin:0 auto;
	width:960px;
	overflow:hidden;
}
#middle_left{
	float:left;
	width:700px;
	overflow:hidden;
}
#middle_right{
	float:left;
	margin-left:5px;
	width:255px;
	overflow:hidden;
}
#picnews{
	float:left;
	width:280px;
	height:240px;
	background-color: rgb(102, 0, 0);
	color:white;
	overflow:hidden;
}
#info{
	float:left;
	margin-left:5px;
	width:415px;
	height:290px;
	overflow:hidden;
}
.titleBg{
	height:30px;
	line-height:30px;
	background-image: url('../images/fr-bg3.gif');
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:100px;
	color:white;
	font-weight:bold;
	font-size:14px;
}
.titleBg2{
	height:30px;
	line-height:30px;
	background-image: url('../images/titleBg.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-left:40px;
}
.titleBg3{
	height:30px;
	line-height:30px;
	background-image: url('../images/titleBg3.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-left:40px;
}
.titleBg_text{
	width:120px;
	float:left;
	line-height:30px;
	color:#8a1e1e;
	font-weight:bold;
	font-size:14px;
}
.titleBg_more a{
	width:80px;
	float:right;
	margin-right:25px;
	line-height:30px;
	color:#8a1e1e;
}
.info_con{
	height:258px;
	border-top:2px solid #8a1e1e;
	overflow:hidden;
}
.info_con ul{
   list-style:none;
   margin:0px;
   padding:5px;
   padding-left:10px;
}
.info_con  li a{
	font-size: 12px;
	text-decoration:none;
	color:#666;
}
.info_con  li a:hover{
	font-weight: bold;
	text-decoration:underline;
	color:#8a1e1e;
}
.info_con .info_text{
	width:300px;
	height:28px;
	line-height:28px;
	float:left;
	background:url('../images/ico-1.gif') no-repeat left center;
	padding-left:10px;
}
.info_con .info_time{
	width:80px;
	height:28px;
	line-height:28px;
	float:right;
	color:#666;
}
#note{
	width:255px;
	height:600px;
	overflow:hidden;
}
.note_con{
	height:567px;
	border:1px solid #8a1e1e;
	border-top:2px solid #8a1e1e;
	overflow:hidden;
}
.note_con ul{
   list-style:none;
   margin:0px;
   padding:5px;
   color:black;
}
.note_con  li {
	width:100%;
	line-height:28px;
	background:url('../images/ico-3.gif') no-repeat left 12px;
	padding-left:8px;
}
.note_con  li a{
	font-size: 12px;
	text-decoration:none;
	color:black;
}
.note_con  li a:hover{
	text-decoration:none;
	color:#8a1e1e;
}
#friendlink{
	width:255px;
	height:483px;
	margin-top:5px;
	overflow:hidden;
}
.friendlink_con{
	height:450px;
	border:1px solid #8a1e1e;
	border-top:2px solid #8a1e1e;
	overflow:hidden;
}
.friendlink_con img{
	width:98px;
	height:38px;
	margin-top:15px;
	margin-left:15px;
	border:0px;
}
#school{
	float:left;
	width:700px;
	height:208px;
	margin-top:5px;
	overflow:hidden;
}
.school_con{
	height:175px;
	border:1px solid #8a1e1e;
	border-top:2px solid #8a1e1e;
	overflow:hidden;
}
.school_con ul {
	list-style:none;
	line-height: 150px;
	height: 150px;
	margin:0px;
	padding:0px;
	overflow:hidden ;
}
.school_con ul  li {
	float: left;
	line-height: 150px;
	height: 150px;
	width:200px;
	margin-top: 20px;
	margin-left: 20px;
	text-align:left;
	overflow:hidden;
}
.infos1{
	float:left;
	width:347px;
	height:190px;
	margin-top:5px;
	overflow:hidden;
}
.infos2{
	float:left;
	margin-left:6px;
	width:347px;
	height:190px;
	margin-top:5px;
	overflow:hidden;
}
.infos3{
	float:left;
	width:700px;
	height:190px;
	margin-top:5px;
	overflow:hidden;
}
.infos_con{
	height:160px;
	overflow:hidden;
}
.infos_con ul{
   list-style:none;
   margin:0px;
   padding:5px;
   color:#666;
}
.infos_con  li {
	width:100%;
	line-height:28px;
	background:url('../images/ico-3.gif') no-repeat left 12px;
	padding-left:8px;
}
.infos_con  li a{
	font-size: 12px;
	text-decoration:none;
	color:#666;
}
.infos_con  li a:hover{
	text-decoration:none;
	color:#8a1e1e;
}

#bottom{
	margin:0 auto;
	text-align: center;
	width:960px;
	height:34px;
	line-height:34px;
	margin-top:5px;
	overflow:hidden;
	color: rgb(153, 153, 153); 
	border-top-color: rgb(153, 0, 0); 
	border-top-width: 2px; 
	border-top-style: solid; 
	background-color: rgb(102, 0, 0);
}

.inputstyle{
    vertical-align:text-bottom;
    FONT-SIZE: 12px; 
    COLOR: #b54747;
}
.inputpagestyle{
    width: 20px;
    vertical-align:text-bottom;
    color:gray;
}
.alinkstyle{
    color:blue;
    vertical-align:bottom;
}
.btnstyle
{
	CURSOR: pointer;
	COLOR: #000000;
	PADDING-TOP: 2px;
	HEIGHT: 23px;
	background-image: url(../images/bt_yangs.jpg);
	background-repeat: repeat-x;
	BORDER:1px solid #b54747;
	vertical-align:text-bottom;
}
